.main-container {
  width: 100vw;
  height: 100vh;
  padding: 10px;
  box-sizing: border-box;

  img {
    pointer-events: none;
  }

  .outer-wrapper {
    background-color: #1c1818;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 30px;
    padding: 20px;
    box-sizing: border-box;

    .grid-template-wrapper {
      box-sizing: border-box;
      padding: 20px;
      background-color: #ffffff1a;
      border-radius: 13px;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(13, 1fr);
      grid-template-rows: repeat(12, 1fr);
      gap: 20px;
      position: relative;
      z-index: 10;

      .grid-items {

        border-radius: 28px;
        position: relative;
        cursor: crosshair;
        transition:  .4s ease-in-out;
 
      }

      &:has(.videoOne){
        .gird-col-one, .gird-col-three, .gird-col-four, .gird-col-five ,.gird-col-six ,.gird-col-seven{
          display: none;
        }
      }
      &:has(.videoTwo){
        .gird-col-one, .gird-col-three, .gird-col-four, .gird-col-five ,.gird-col-six ,.gird-col-two{
          display: none;
        }
      }

      .gird-col-one {
        grid-area: 1 / 1 / 9 / 4;

        

        img {
          width: 100%;
          height: 100%;
        }
      }

      .gird-col-two {
        grid-area: 1 / 4 / 6 / 14;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        overflow: hidden;


        .main-video-wrapper {
          position: absolute;
          width: 100%;
          height: 100%;

          video {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }



        .main-curve {
          grid-row: 1/3;
          grid-column: 1/7;

          position: relative;
          pointer-events: none;

          &::after {
            content: '';
            position: absolute;
            bottom: 0;
            right: 7px;
            width: 30px;
            aspect-ratio: 1;
            background-image: radial-gradient(circle at 100% 100%, transparent 30px, #333030 30px);
            rotate: -180deg;
          }
        }

      }

      .gird-col-three {
        grid-area: 9 / 1 / 13 / 4;

        background-image: url('./media/images/race-track-image.png');
        background-size: cover;
        background-position: right;

        &:hover {
          .car-image {
            right: -74px;
          }

        }


        .car-image {
          position: absolute;
          z-index: 50;
          width: 420px;
          top: -40px;
          right: -84px;
          filter: drop-shadow(3px 3px 29px #000);
          transition: all .3s ease-in-out;

          img {
            width: 100%;
          }
        }
      }

      .gird-col-four {
        grid-area: 6 / 4 / 13 /7;
        overflow: hidden;
        background-color: #BF0D0E;
        padding-block: 30px;
        padding-left: 10px;

        &:hover {
          .image-div {
            scale: .7;
            rotate: -90deg;
            left: 40px;

          }
        }

        .text-div {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;
        }

        .image-div {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          z-index: 10;
          pointer-events: none;
          transition: all .4s ease-in-out;


          img {
            position: absolute;
            max-width: 850px;
            left: 20%;
            top: 50%;
            transform: translateX(-50%) translateY(-45%);
          }
        }

        h3 {
          font-family: 'bigger';
          text-transform: uppercase;
          font-weight: 900;
          font-size: 100px;
          color: #fff;
          margin-left: -20px;
          text-align: left;
        }

        h6 {
          font-family: 'bigger';
          text-transform: uppercase;
          font-weight: 500;
          font-size: 16px;
          color: #fff;
        }

        h4 {
          font-family: 'bigger';
          text-transform: uppercase;
          font-weight: 900;
          font-size: 86px;
          color: #fff;
          margin-left: -20px;
          text-align: right;

          span {
            font-weight: 500;
            font-size: 16px;
          }
        }


      }

      .gird-col-five {
        grid-area: 6 / 6 / 13 /10;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        overflow: hidden;
        gap: 20px;
        position: relative;



        .car-full-image-wrapper {
          position: absolute;
          z-index: 50;
          top: 50%;
          transform: translateY(-20%);
          left: 100px;
        }





        .bg-image-wrapper {
          grid-area: 1/2/1/5;
          border-radius: 28px;
          background-image: url('./media/images/full-bg-image.png');
          background-repeat: no-repeat;
          background-size: cover;
          background-position: right;
          position: relative;
          transition: all .4s ease-in-out;

          .car-full-image-wrapper {
            position: absolute;
            z-index: 50;
            top: 50%;
            transform: translateY(-20%);
            left: -20px;
            filter: drop-shadow(3px 3px 29px #000);

            transition: all .4s ease-in-out;



          }

          &:hover {
            background-position: left;

            >div {
              left: 50px;

            }

            .car-full-image-wrapper {
              left: -70px;
            }
          }

          >div {
            position: absolute;
            left: 20px;
            right: auto;
            top: 100px;
            z-index: 15;
            transition: all .4s ease-in-out;


            h6 {
              font-family: 'porche-normal';
              font-size: 38px;
              color: #fff;
            }

            h2 {
              font-family: "Geologica", serif;
              font-weight: 600;
              color: #fff;
              text-transform: uppercase;
              font-size: 86px;
              letter-spacing: -7px;
              line-height: 64px;

            }
          }

        }

        .bg-image-wrapper:hover+.car-full-image-wrapper {
          left: 0px !important;
        }
      }

      .gird-col-six {
        grid-area: 5 / 10/ 9 /14;
        box-shadow: 0 0 0 20px #333030;

        img {
          width: 100%;
          height: 100%;
        }

        .car-image {
          position: absolute;
          z-index: 10;
          bottom: -30px;
          right: -20px;
          max-width: 240px;
        }

        &::before {
          content: '';
          position: absolute;
          width: 30px;
          height: 20px;
          top: -20px;
          right: 0;
          background-color: #333030;
        }

        &::after {
          content: '';
          position: absolute;
          width: 30px;
          height: 30px;
          top: -50px;
          right: 0;
          background-image: radial-gradient(circle at 100% 100%, transparent 30px, #333030 30px);
          rotate: 180deg;
        }
      }

      .gird-col-seven {
        grid-area: 9 / 10/ 13 /14;
        overflow: hidden;

        video {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }


    }


  }
}

.videoOne , .videoTwo{
  grid-area: 1/1/13/15 !important;
}